{% extends "base.html" %} {% block content %}

<div id="content-container" class="main">
  <div class="title">
    <h3>Dicom Scorer</h3>
    <p>
      <small></small>
    </p>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop dicom(s) here or click to select</div>
    </label>
    <input id="tag" type="text" class="tag-box" placeholder="Type text to tag uploads with">
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" id="run_btn" value="Run Model" class="button" disabled/>
    <input type="button" id="csv_btn" value="Download as CSV" class="button" onclick="download_table_as_csv('table');" hidden/>    
    <input type="button" id="clear_btn" value="Clear All" class="button" onclick="clearTable();" disabled/>
  </div>
</div>

{% endblock %}
